.header{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top:2rem;
  cursor: pointer;
}

.icons{
  display: flex;
}


@media screen and (max-width:992px){
  .header{
    flex-direction: row;
  }
}

@media screen and (max-width:600px){
  .header{
    flex-direction: column;
  }
}
